
.splash {
  background: white;
  height: calc(100vh - 39px); /* for footer */
  width: 100vw;
}

.splash > div {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
}

.splash section:first-child {
  height: calc(100vh - 39px);
  position: relative;
  width: 45%;
}

.splash section:first-child div {
  position: absolute;
  left: 20%;
  top: 55%;
  transform: translate(-20%, -55%);
}

.splash button:nth-of-type(2) {
  border: 3px solid #444;
  color: #444;
}

.splash button:nth-of-type(2):hover {
  background: #444;
  color: white;
}

.splash section:last-child {
  height: calc(100vh - 39px);
  position: relative;
  width: 55%;
}

.splash section:last-child div {
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-45px, -50%);
  width: 500px;
}

.splash section:last-child p {
  line-height: 1.5;
  color: #444;
  font-size: 18px;
  font-weight: bold;
}

@media only screen and (max-width: 1450px) {
  .splash section:first-child {
    width: 50%;
  }
  .splash section:last-child {
    width: 50%;
  }
  .splash section:last-child div {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 1200px) {
  .splash section:last-child div {
    width: 350px;
  }
}

@media only screen and (max-width: 1000px) {
  .splash > div {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .splash section:first-child {
    height: 40%;
    width: 100%;
  }
  .splash section:first-child div {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 100px;
    position: static;
    transform: translate(0, 0);
    width: 600px;
  }
  .splash button {
    height: 50px;
    width: 250px;
  }
  .splash section:last-child {
    height: 60%;
    padding: 40px 0 0 0;
    position: static;
    width: 100%;
  }
  .splash section:last-child div {
    margin: 0 auto;
    position: static;
    transform: translate(0, 0);
    width: 500px;
  }
}

@media only screen and (max-width: 650px) {
  .splash section:first-child div {
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
  }
  .splash button {
    width: 100%;
  }
  .splash section:last-child div {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
  }
}