* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #0070ff;
  --alt-color: #00308F;
}

html, body {
  height: 100%;
  position: relative;
  width: 100%;
}

button {
  cursor: pointer;
}

.btn-outline {
  background: white;
  border: 3px solid var(--main-color);
  border-radius: 40px;
  color: var(--main-color);
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 30px 0;
  padding: 0 10px;
  height: 50px;
  width: 350px;
}

.btn-outline:hover {
  background: var(--main-color);
  color: white;
}